body{
    background-color:white;
    padding-top:0 !important;
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 2;
}
a,a:hover{
    text-decoration: none;
    color: black;
}
input:focus, input:active{
    border: 0;
}
input{
    border-radius: 0 !important;
}
.light-text{
    color:#7b7b7b;
}
.transform-uppercase{
    text-transform: uppercase;
}
.text-josefin-style,h2{
     font-family: 'Josefin Sans',sans-serif;

}
.widget-title,h2{
    font-weight: normal;
    font-size: 16px;
}
.title-text{
    font-size: 28px;
}
nav{
    background-color:#ffffff;
    margin-bottom: 50px;
    border-bottom: 1px solid #f4f4f4;
}
.article-description{
    position: relative;
    border:0;
    padding-top: 200px;
    margin-bottom: 50px;
}
.entry-text{
    border: 1px solid #dcdcdc;
    padding: 225px 30px 30px 40px;
    position: relative;
    z-index: 1;
    background-color: white;
    margin-left: 30px;
}
.entry-author{
    display:inline-block;
    position: absolute;
    left:-25px;
    font-size: 18px;
    z-index: -1;
}
.author-username{
    display: inline-block;
    padding-left: 30px;
    transform: rotate(90deg);
    transform-origin: top left;
    padding-top: 2px;
}
.author-username, .publish-date, .comments-username{
    font-weight: bold;
    font-size: 13px;
}
.image-media{
    display: block;
    width: calc(100% - 30px);
    overflow:hidden;
    position: absolute;
    z-index: 2;
    max-height: 400px;
    top: 0;
}
.meta-option{
    padding-right: 30px;
    font-size: 10px;
    font-weight: 600;

}
.meta-option:hover{
    color: black;
}
.entry-summary{
    padding-top: 30px;
}
/* imagine efect */
.hover{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: opacity(80%);
	filter: opacity(80%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover:hover {
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.image-description{
    width:100%;
}
.publish-date{
    display:inline-block;
    position: absolute;
    transform: rotate(90deg) translateX(100%);
    transform-origin: top right;
    top: 15px;
    right: 5px;
}
.entry-name>h2{
    font-size: 28px;
}
.search-form{
    position: relative;
}
#nume, #continut,.search-articol{
    border: 0;
    border-bottom: 1px solid #dcdcdc;
}
.search-articol:focus{
    border-bottom: 1px solid #dcdcdc;
}
.search-articol{
    width: 100%;
}
.search-icon{
    position: absolute;
    top: 0;
    right: 0;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav>.container{
    padding: 15px;
}
nav a{
    color:#222222;
}
#nav-title{
    color:#6f6f6f;
    font-size: 20px;
}
.center-button{
    text-align: center;
}
.btn-custom{
    border: 1px solid #7b7b7b;
    color: #7b7b7b;
    border-radius:0;
    font-size: 11px;
    background-color: transparent;
}
.btn-custom:hover{
    color:white;
    background-color: black;
}
.img-listare{
    max-width: 50px;

}
.jumbotron{
    height: 540px;
    overflow: hidden;
    background-size: cover;
}
.jumbotron-description{
    background-color:rgba(255,255,255,.9);
    padding: 35px 40px;
    width: 50%;
}
#widget-aboutme-image{
    max-width: 100%;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-image:url("../images/aboutme.jpg");
    background-size: cover;
    background-position: center;

}
.widget-aboutme-description{
    color: #333333;
}
.categories-widget ul li{
    margin-bottom: 20px;

}
.page-title{
    font-size: 34px;
}
.image-preview-article{
    background-size: cover;
    height: 670px;
}

/* carousel style */
.carousel-item{
    max-height: 450px;
    -webkit-transform: scale(0.5);
}
.comments-title{
    position: relative;
    top: -32px;
}
.comments-title>span{
    background-color: white;
    padding: 0 10px;
    font-size: 16px;
}
.form-comments{
    border: 1px solid #d2d2d2;
    padding: 30px;
}
.comments-form-header{
    position: relative;
    background-color: white;
    width: 30%;
    margin: 0 auto;
    margin-top: -45px;
    padding: 5px;
    
}
.comments-form-header>h5{
    font-weight: 600;
}
.comment{
    border: 1px solid #ccc;
    padding: 1em 0.7em;
}